<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <nav class="mt-4 mb-3" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_number == 1 %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ page_number - 1 }}.html">Назад</a></li>
          {% endif %}

          {% for i in range(1, total_page_number+1) %}
            {% if i == page_number %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{ i }}.html">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_number == total_page_number %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Вперёд</a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ page_number + 1 }}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>

      {% for books_chunk in books %}
        <div class="row">
          {% for book in books_chunk %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{ book.image_url|urlencode }}" class="card-img" alt="обложка книги {{ book.title }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <h6 class="card-subtitle">{{ book.author }}</h6>
                      <p class="card-text">
                        {% for genre in book.genres %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <p class="card-text"><a href="../{{ book.book_url|urlencode }}">Читать</a></p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>